{% extends 'base/main.html' %} {% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="header-bar">
    <div>
        <h1>Hello User</h1>
        {% if object_list|length > 0 %}
        <h3 style="margin:0">Your tasks list</h3>
        {% endif %}
    </div>
    
</div>

<div id="tasklist" class="task-items-wrapper">
    {% if object_list|length > 0 %}
    <h1></h1>
    <p align="right">  
        <a href="{% url 'task:task-create' %}" class="link-danger">Create a new task</a>
    </p>
    {% endif %}
    {% for task in object_list %}
    <div class="task-wrapper" data-position="{{task.pk}}">
        <div class="task-title">
            {% if task.complete %}
            <div class="task-complete-icon"></div>
            <i><s><a href="{% url 'task:detail' task.id %}">{{task}}</a></s></i>
            {% else %}
            <div class="task-incomplete-icon"></div>
            <a href="{% url 'task:detail' task.id %}">{{task}}</a> {% endif %}
        </div>
        <div class="task-controls">
            <a class="update-link" href="{% url 'task:task-update' task.id %}">&#8634;</a>
            <a class="delete-link" href="{% url 'task:task-delete' task.id %}">&#215;</a>
        </div>
    </div>

    {% empty %}
    <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
        <h3>No new tasks are created.</h3>
        <h3>Create a <a style="text-decoration: none; color: #4286f4;" href="{% url 'task:task-create' %}">New task</a> ! </h3>
    </div>
    {% endfor %}
</div>

{% endblock content %}